<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs') %>
<body>
  <%- include('./nav.ejs') %>
  <h1><%= title %></h1>
  <div class="record">
    <span class="title"><%= record.title %></span>
    <span class="text"><%= record.text %></span>
    <span class="date"><%= record.date %></span>
  </div>
</body>
</html>